body {
    padding: 0;
    background: linear-gradient(80deg, #000000, #272626);
    display: flex;
    
    justify-content: center;
    min-height: 100vh; 
}

                /* NAVIGATION BAR  */

.main-navBar{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    background: linear-gradient(360deg, #000000, #272626); 
    position: fixed; 
    top: 0px; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
}

.navBar-img{
    margin-right: -60px;
}

.navBar-img img{
  height: 55%;  
  max-width: 70%;
  margin-top: 2%;
  margin-left: -2%;  
}

.navBar-contents a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    padding-top: 5px;
    margin: 0 20px;
    &:hover{
        color: #973cec;
        transition: color 0.25s ease;
    }
}

.navBar-getStarted{
    padding-right: 20px;  
}

.navBar-getStarted button{
    align-items: center;
    font-size: 1.1rem;
    color: white;
    background-color: #6A0DAD;
    border: none;
    border-radius: 18px;
    padding: 8px 18px;
    transition: background-color 0.2s ease;
    &:hover{
        cursor: pointer;
        background-color: #8A2BE2;  
    }
}

                    /* EVENT DETAILS */

.mainContainerCard {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    width: 90%;
    color: black;
    margin: 2% auto; 
    margin-top: 7%;
}

.mainImageCard {
    flex: 1;
    margin: 1%;
}

.mainImageCard img {
    width: 80%;
    height: auto; 
    object-fit: cover; 
    border: 5px double rgb(255, 255, 255);
    border-radius: 5px;
}

.eventDetails {
    flex: 1.5;
    background: linear-gradient(200deg, #ffffff,#ffffff, #fbdada, #f8c8dc);
    margin: 1%;
    padding: 1%;
    border: 5px double rgb(143, 148, 197);
    border-radius: 7px;
    /* width: 80%; */
}

.eventDetails h1 {
    font-size: 2.5em;
    margin-bottom: 0.7em; 
}

.description{
    font-size: 1.3em;
    margin-bottom: 0.4em;
}
.dateTime{
    display: flex;
    font-size: 1.2em;
    
    gap: 15px;
}

.iconImages {
    width: 30px;
    margin-top: 15.5px;
    
    height: max-content;
}

.eventDetails hr {
    border: none;
    margin-top: 22px;
    height: 2px;
    border-radius: 43%;
    background-color: #a7a4a4;
    margin-left: 45px;
    margin-right: 45px;
}

.buyButton {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    background: linear-gradient(100deg, #fbdada, #f8c8dc );
    margin-left: -1.1%;
    margin-right: -1.1%;
}

.buyButtonImage {
    padding-left: 10px;
    width: 25px;
    margin-bottom: -3px;
    height: max-content;
}

.buyButton span {
    font-size: 1.7em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.buyButton button {
    text-decoration: none;
    color: white;
    background-color: blueviolet;
    font-size: 1.3rem;
    height: 53px;
    margin: 8px 20px;
    border-radius: 8px;
    &:hover{
        cursor: pointer;
        background-color: #7629be;
        transition: color 0.25s ease;
    }
}