*{
    padding: 0;
}

body  {
  background: linear-gradient(120deg, #000000, #272626);
    font-family: 'Poppins', sans-serif;
    color: white;
}

                /* MEDIA QUERY */
/* MOBILE */

@media (max-width:768px) {
    
}

@media (min-width:769px) and (max-width: 900px) {
    .navBar-contents{
        margin-left: -5px
    }
}

@media (min-width:1025px) {

}

/* TABLET */

/* DESKTOP */

                /* NAVIGATION BAR  */

.main-navBar{
    display: flex; 
    align-items: center; 
    background: linear-gradient(360deg, #000000, #272626); 
    position: fixed; 
    top: 0px; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
}

.navBar-img{
    margin-right: -60px;
}

.navBar-img img{
  height: 55%;  
  max-width: 70%;
  margin-top: 2%;
  margin-left: -2%;  
}

.navBar-contents {
    padding-left: 250px;
}
.navBar-contents a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    padding-top: 5px;
    margin: 0 20px;
    &:hover{
        color: #973cec;
        transition: color 0.25s ease;
    }
}

.navBar-getStarted{
    padding-right: 20px;  
}

.navBar-getStarted button{
    align-items: center;
    font-size: 1.1rem;
    color: white;
    background-color: #6A0DAD;
    border: none;
    border-radius: 18px;
    padding: 8px 18px;
    transition: background-color 0.2s ease;
    &:hover{
        cursor: pointer;
        background-color: #8A2BE2;  
    }
}

                /* CACHE PARAGRAPH  */

.main-catch{
    margin-top: 7vw;
    
}

.catchy-line h1{
    color: white;
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
    margin-bottom: auto;
    margin-left: 1.5%;
    margin-top: 10%;
    margin-bottom: 10%
}


.mainPhrase{
    font-weight: bold;
    color: #9f4fea;
    font-family: 'Great Vibes', cursive; 
}




                /* FORM */

.main-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

.additional-form h2 {
  text-align: center;
}

.additional-form {
  border: 2px solid white;
  padding: 2rem;
  margin-top: 10%;
  text-align: left;
  background-color: #2b2b2b;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  &:hover {
    border: 1.5px solid black;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-size: 1.3rem;
  font-family: cursive;
}

input,
select,
textarea {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #333;
  color: white;
}

hr{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-color: #6A0DAD;
  border-width: 1.9px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 2px solid #6e1bba;
}

button.submit-btn {
  background-color: #6e1bba;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button.submit-btn:hover {
  background-color: #5b139c;
}